.flashmaincard {
    margin: 5px 20px;
}

.flash-single-card {
    margin: 5px 10px;
    background-color: rgba(248, 246, 246, 0.952);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fa-wand-magic-sparkles {
    color: teal;
}

.flash-offer {
    color: white;
    border-radius: 40%;
    width: 20%;
    height: 20px;
    background-color: teal;
    text-align: center;
    font-size: 12px;
}

.flash-single-card :hover {
    cursor: pointer;
}

.flash-deals {
    font-weight: 900;
}

.flah-img {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.flah-img img {
    width: 120px;
    height: auto;
}

.flash-rates {
    color: hsla(32, 100%, 50%, 0.849)
}

.fa-heart {
    color: hsl(4, 89%, 46%);
    opacity: 0;
    transition: 0.5s;
}

.flash-single-card :hover .fa-heart {
    opacity: 1;
}

.flash-price {
    color: teal;
    font-weight: 500;
}

.flash-bottom {
    display: flex;
    justify-content: space-between;
}

.flash-bottom-left {
    margin-left: 20%;
}

.flash-bottom-right {
    display: flex;
    margin-right: 10%;
    font-size: 20px;
}

.fa-add {
    padding-top: 65px;
    color: teal;
}