.carousel {
    display: flex;
    justify-content: center;
}

.carousel .slide {
    height: 30vh;
}

.carousel .slide img {
    height: 100%;
    width: 70%;
}

.image {
    height: 100%;
    width: 100%;
}